@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Varibles */
$softpurple-bg: hsl(273, 75%, 66%);
$softblue-bg: hsl(240, 73%, 65%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient($softpurple-bg, $softblue-bg);
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  padding: 5em 0;
}

.card {
  width: 95%;
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
  // position: relative;
  border-radius: 20px;

  .heading {
    font-size: 2rem;
    text-align: center;
    //margin-top: 4em;
    margin-bottom: 1.5em;
  }

  .mobile-img {
    //position: absolute;
    //top: -50px;
    //left: 50px;
  }

  .desktop-img {
    display: none;
  }
}

.card-text {
  padding: 0 2em;

  .question,
  .answer {
    margin-bottom: 1em;
  }

  .question {
    display: flex;
    justify-content: space-between;
    &::after {
      content: url(/images/icon-arrow-down.svg);
    }
  }
}

// @media (min-width: 1000px) {
//   .card {
//     flex-direction: row;

//     .mobile-img {
//       display: none;
//     }

//     .desktop-img {
//       display: block;
//     }
//   }
// }
