@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: #f47c57;
}

html {
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875rem;
}

.container {
  padding: 5em 0;
}

.card {
  width: 95%;
  margin: 5em auto;
  padding-bottom: 2em;
  max-width: 44rem;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
}

.card .heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5em;
}

.card .desktop-img {
  display: none;
}

.card .box {
  display: none;
}

/* CARD IMAGE */
.card-image .mobile-img {
  width: 100%;
  height: auto;
  max-width: 15rem;
  margin: auto;
  display: block;
  -webkit-transform: translateY(-55%) translateX(-5%);
          transform: translateY(-55%) translateX(-5%);
}

/* CARD TEXT */
.card-text {
  padding: 0 2em;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  /* ACTIVE styles */
}

.card-text .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4a4b5e;
  font-weight: 400;
  padding: 1em 0;
  cursor: pointer;
  border-bottom: 1px solid #e7e7e9;
}

.card-text .question::after {
  content: url(/images/icon-arrow-down.svg);
  color: #f47c57;
}

.card-text .question:hover {
  color: #f47c57;
}

.card-text .answer {
  color: #787887;
  display: none;
  padding-bottom: 1em;
}

.card-text .active > .question {
  font-weight: 700;
  color: #f47c57;
  border: none;
}

.card-text .active > .question::after {
  content: url(/images/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card-text .active > .answer {
  display: block;
  border-bottom: 1px solid #e7e7e9;
}

@media (min-width: 800px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 70%;
  }
  .card .mobile-img {
    display: none;
  }
  .card .box-div {
    position: relative;
    -webkit-transform: translateY(38%) translateX(500%);
            transform: translateY(38%) translateX(500%);
    z-index: 20;
  }
  .card .box {
    display: block;
    position: absolute;
    -webkit-transform: translateX(-48.5%);
            transform: translateX(-48.5%);
  }
  .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .card-image .desktop-img {
    display: block;
    max-width: 30em;
    width: 100%;
    height: auto;
    display: block;
    -webkit-transform: translateX(-17%);
            transform: translateX(-17%);
    position: relative;
    z-index: 10;
  }
  .card-image,
  .card-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .card-text {
    -webkit-transform: none;
            transform: none;
    padding: 5em 5em 5em 0;
  }
  .card-text .heading {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */