@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Varibles */
$softpurple-bg: hsl(273, 75%, 66%);
$softblue-bg: hsl(240, 73%, 65%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .attribution {
//   font-size: 11px;
//   position: absolute;
//   bottom: 0px;
//   left: 250px;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }

body {
  min-height: 100vh;
  background: linear-gradient($softpurple-bg, $softblue-bg);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 85%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 20px;
  position: relative;
  margin: 40px 0px;
}

.card-images {
  .desktop-img {
    display: none;
  }
}

.card-content {
  .heading {
    text-align: center;
    margin-bottom: 1.2em;
  }

  .question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    cursor: pointer;
    &::after {
      content: url(/images/icon-arrow-down.svg);
    }
  }

  .answer {
    margin-bottom: 1.3em;
  }
}

@media (min-width: 594px) {
  .card {
    //flex-direction: row;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 500px;
  }

  .card,
  .card-content {
    
  }

  .card-images {
    .mobile-img{
      //display: none;
    }

    .desktop-img{
      //display: block;
    }

  }

  .card-content {
    padding: 1.5em;
  }
}
