@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Varibles */
$softpurple-bg: hsl(273, 75%, 66%);
$softblue-bg: hsl(240, 73%, 65%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom:0px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient($softpurple-bg, $softblue-bg);
    font-family: 'Kumbh Sans', sans-serif;

}

.card-container {
    width: 330px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;

    .main-img {
        position: absolute;
        top: -110px;
        left: 10px;
    }

    .secondary-img {
        position: absolute;
        left: 40px;
    }

}

.card-info {
    position: absolute;
    top: 130px;
    left:0;
    right:0;
    margin: auto;

    .heading {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 12px;
    }

    .faq {
        padding: 0px 25px;
    }

    .question {
        display: flex;
        justify-content: space-between;
        &::after{
            content: url(images/icon-arrow-down.svg);
            
        }
        padding-bottom: 10px;
        margin: 10px 0px;
        border-bottom: 1px solid rgba(0,0,0,0.08);
    }

    .answer {
        margin: 10px 0px;
        display: none;
    }

   
}