@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

//Background gradients
$softpurple-bg: hsl(273, 75%, 66%);
$softblue-bg: hsl(240, 73%, 65%);

//Primary text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Divider colors (border)
$light-grayish-blue: hsl(240, 5%, 91%);