@import "base/config";
@import "base/global";
@import "base/reset";

.container {
  padding: 5em 0;
  width: 87%;
  margin: 5em auto;
}

.card {
  background-color: white;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.4972),
    0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center -2%;

  .heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.375rem;
    color: $very-dark-desaturated-blue;
  }

  .desktop-img {
    display: none;
  }

  .desktop-bg,
  .box {
    display: none;
  }
}

/* CARD IMAGE */
.card-image {
  .mobile-img {
    margin: auto;
    display: block;
    transform: translateY(-55%) translateX(-5%);
  }
}

/* CARD TEXT */
.card-text {
  padding: 0 2em;
  transform: translateY(-20%);

  .question {
    display: flex;
    justify-content: space-between;
    color: $very-dark-grayish-blue;
    font-size: 0.8125rem;
    padding: 1em 0;
    cursor: pointer;
    border-bottom: 1px solid $light-grayish-blue;
    &::after {
      content: url(/images/icon-arrow-down.svg);
      color: $soft-red;
    }

    &:hover {
      color: $soft-red;
    }
  }

  .answer {
    color: $dark-grayish-blue;
    display: none;
    padding-bottom: 1em;
  }

  /* ACTIVE styles */
  .active > .question {
    font-weight: 700;
    &::after {
      content: url(/images/icon-arrow-down.svg);
      transform: rotate(180deg);
      transition: all 0.3s ease-in;
    }
    border: none;
  }

  .active > .answer {
    display: block;
    border-bottom: 1px solid $light-grayish-blue;
    padding-right: 2rem;
  }
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    padding: 0;
  }

  .card {
    display: flex;
    margin: 0 auto;
    max-width: 920px;
    background-image: none;
    position: relative;

    .mobile-img {
      display: none;
    }

    .box {
      display: block;
      position: absolute;
      transform: translate(-48%, 85%);
      z-index: 10;
      max-width: 100%;
      height: auto;
    }
  }

  .card-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-position: 108% 70%;
    background-repeat: no-repeat;

    .desktop-img {
      max-width: 100%;
      height: auto;
      display: block;
      position: absolute;
      left: -50px;
    }
  }

  .card-image,
  .card-text {
    flex: 1;
  }

  .card-text {
    transform: none;
    padding: 5em 5em 5em 0;

    .heading {
      text-align: left;
    }
  }
}
